.hide-mobile {
  display: none;
}

/* These are global settings/stylings*/

section {
  display: flex;
  flex-direction: column;
}
.green {
  background-color: rgb(65, 137, 59);
  background-color: rgba(65, 137, 59, 0.45);
}
.blue {
  background-color: rgb(0, 178, 255);
  background-color: rgba(0, 178, 255, 0.36);
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body{
  background-image: url("https://i.ibb.co/Br8kgG8/white.jpg");
  background-repeat: repeat;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  margin: 0;
}

.background{
  height: 100%;
  width: auto;
  background-color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1%;
  margin: 0%;
}

.logo {
  padding: 0 8px;
}
.logo img {
  height: 67px;
  width: auto;
}

header{
display: flex;
margin-top: 2%;
}

nav {
  margin-left: 50%;
}

.nav-links{
  display: flex;
  font-family: 'Mada', sans-serif;
  justify-content: center;
  margin-right: 76%;
  }

.navigation{
  display: inline-block;
  margin-left: 8%;
  margin-right: 12%;
  padding: 0px 11px;
}

.nav-links .current {
  border-bottom: 1px solid rgba(66, 175, 222, 1);
}

a {
  color: black;
  text-decoration: none;
}

a:link {
  color: white;
}

.love{
  background-color: rgb(66, 175, 222);
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-left: 5px;
}

h1 {
font-size: 35px;
font-family: 'Mada', sans-serif;
margin-bottom: 13px;
}

h2 {
font-size: 23px;
font-family: 'Mada', sans-serif;
margin-bottom: -8px;
}

p {
font-size: 15px;
font-family: 'Lora', serif;
line-height: 22px;
}
/* These following lines are specifically for spacing and layout of the 'about me' section next to my hero image */
.product-designer{
  color: rgba(66, 175, 222, 1);
  margin-bottom: 1%;
}
.about .col1 img{
  display: none;
}

.desk-top {
  padding-top: 3%;
  margin-bottom: -3%;
}
.busy-bus {
  margin-top: -5%;
  margin-bottom: -12%;
}

.about {
  width: 100%;
  margin-bottom: 30%;
}

.top-margin-change{
  margin-top: 1%;
}

/* "first-col" is specifically for the hero image*/
.first-col{
    flex: 50%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}

.first-col img{
  width: 100%;
  height: auto;
}

.about .col1 {
  flex: 50%;
  padding: 0 60px;
}
.about .col2 {
  flex: 50%;
  padding: 0 16px;
  width: 72%;
  margin: auto;
}
/* .margin-change is a one time change to adjust the margin within the 480px version*/
.margin-change{
  margin-right: 2%;
  margin-left: 2%;
}
.green{
  margin-top: 20%;
  padding-bottom: 8px;
}

.blue{
  margin-top: 10%;
  padding-bottom: 8px
}

.buttons{
  max-width: 380px;
}

/* "icons" refers to the group of icons, while "about-icons" refers to each individual icon */
.icons {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-icons{
display: inline-block;
padding-right: 10px;
}
/* this begins the two individual sections for each past project */
.work .col1 {
  width: 90%;
  height: auto;
  flex: 40%;
  margin-left: auto;
  margin-right: auto;
}
.work .col2 {
  flex: 10%;
  padding: 0 60px;
  padding-top: 2%;
  text-align: center;
  max-width: 350px;
}
.work .col1 img{
  width: 100%;
  height: auto;
}

.proto-button1{
  background-color: rgba(65, 137, 59, 0.85);
  border-radius: 3px;
  color: white;
  font-family: 'Mada', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 56px;
  margin-left: 57px;
}

.proto-button2{
  background-color: rgba(0, 178, 255, 0.85);
  border-radius: 3px;
  color: white;
  font-family: 'Mada', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 56px;
  margin-left: 57px;
}

/* redoing the "about me" styling */

.my-bio{
width: 90%;
height: auto;
flex: 40%;
margin-left: auto;
margin-right: auto;
}

.my-bio img{
  width: 100%;
  height: auto;
}
/* Footer styling! */

footer{
border-top: 2px solid gray;
margin-top: 7%;
}

.large-footer{
text-align: center;

}

.footer-text{
text-align: center;
margin-right: 21%;
margin-left: 21%;
}

.contact-me{
background-color: rgba(66, 175, 222, 1);
border-radius: 3px;
color: white;
font-family: 'Mada', sans-serif;
text-align: center;
margin-left: 30%;
margin-right: 30%;
padding-top: 10px;
padding-bottom: 10px;
}

.bottom {
margin: 0;
}

.symbols{
display: flex;
justify-content: space-around;
margin: auto;
width: 50%;
padding: 0;
}

.footer-images{
display: inline-block;

}

.linkedin-size-footer{
height: 50px;
width: auto;
}

.instagram-size-footer{
height: 50px;
width: auto;
}

.email-size-footer{
height: 50px;
width: auto;
}

/* The following lines are specifically for about.html*/

.about-icon-header{
flex: 10%;
padding: 0 60px;
padding-top: 2%;
text-align: center;
}

.align{
text-align: center;
margin-left: 20%;
margin-right: 20%;
margin-top: 10%;
margin-bottom: 10%;
}
.weight{
font-weight: normal;
margin-top: 2%;
margin-bottom: 5%;
}
.top-headline{
margin-bottom: 1%;
}

.second-headline{
text-align: center;
margin-top: 15%;
margin-left: 20%;
margin-right: 20%;
}

/* This is where I made a div to contain each of the three sections, in order to space properly*/

.music-and-design{
margin-top: 15%;
}
}


@media only screen and (min-width: 480px) {
  .logo {
    padding: 0 8px;
}
  .logo img {
    height: 67px;
    width: auto;
  }

header{
  display: flex;
  margin-top: 2%;
}

  .nav-links{
    display: flex;
    font-family: 'Mada', sans-serif;
    justify-content: right;
    margin-left: 10%;

    }
  .navigation{
    display: inline-block;
    margin-left: 8%;
    margin-right: 12%;
    padding: 0px 3px;
  }
  .love{
    background-color: rgba(66, 175, 222, 1);
    border-radius: 3px;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 16px;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-left: 5px;
  }

h1 {
  font-size: 35px;
  font-family: 'Mada', sans-serif;
  margin-bottom: 13px;
}

h2 {
  font-size: 23px;
  font-family: 'Mada', sans-serif;
  margin-bottom: -8px;
}

p {
  font-size: 15px;
  font-family: 'Lora', serif;
  line-height: 22px;
}
  /* These following lines are specifically for spacing and layout of the 'about me' section next to my hero image */
  .product-designer{
    color: rgba(66, 175, 222, 1);
  }
  .about .col1 img{
    display: none;
  }

  .desk-top {
    padding-top: 3%;
    margin-bottom: -3%;
  }
  .busy-bus {
    margin-top: -5%;
    margin-bottom: -12%;
  }

  .about {
    width: 100%;
    margin-bottom: 30%;
  }
  .about .col1 {
    flex: 50%;
    padding: 0 60px;
  }
  .about .col2 {
    flex: 50%;
    padding: 0 16px;
    width: 68%;
    margin: auto;
  }
  /* .margin-change is a one time change to adjust the margin within the 480px version*/
  .margin-change{
    margin-right: 11%;
    margin-left: 11%;
  }
  .green{
    margin-top: 20%;
    padding-bottom: 8px;
  }

  .blue{
    margin-top: 10%;
    padding-bottom: 8px
  }

  .buttons{
    max-width: 380px;
  }

/* "icons" refers to the group of icons, while "about-icons" refers to each individual icon */
  .icons {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-icons{
  display: inline-block;
  padding-right: 10px;
  }
/* this begins the two individual sections for each past project */
  .work .col1 {
    width: 90%;
    height: auto;
    flex: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .work .col2 {
    flex: 10%;
    padding: 0 60px;
    padding-top: 2%;
    text-align: center;
    max-width: 350px;
  }
  .work .col1 img{
    width: 100%;
    height: auto;
  }

  .proto-button1{
    background-color: rgba(65, 137, 59, 0.85);
    border-radius: 3px;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6%;
    margin-right: 23%;
    margin-left: 25%;
  }

  .proto-button2{
    background-color: rgba(0, 178, 255, 0.85);
    border-radius: 3px;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8%;
    margin-right: 23%;
    margin-left: 25%;
  }


/* Footer styling! */

footer{
  border-top: 2px solid gray;
  margin-top: 7%;
}

.large-footer{
  text-align: center;

}

.footer-text{
  text-align: center;
  margin-right: 21%;
  margin-left: 21%;
}

.contact-me{
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  font-family: 'Mada', sans-serif;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

.bottom {
  margin: 0;
  }

.symbols{
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  padding: 0;
  }

.footer-images{
  display: inline-block;

}

.linkedin-size-footer{
  height: 50px;
  width: auto;
}

.instagram-size-footer{
  height: 50px;
  width: auto;
}

.email-size-footer{
  height: 50px;
  width: auto;
  }

/* The following lines are specifically for about.html*/

.about-icon-header{
  flex: 10%;
  padding: 0 60px;
  padding-top: 2%;
  text-align: center;
  }

.align{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.weight{
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 5%;
}
.top-headline{
  margin-bottom: 1%;
}

.second-headline{
  text-align: center;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
}

/* This is where I made a div to contain each of the three sections, in order to space properly*/

.music-and-design{
  margin-top: 15%;
}
}

@media only screen and (min-width: 768px) {
  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    padding: 0 60px;
    }
  .about .col1 img {
    display: flex;
    margin-top: 45px;
    margin-left: auto;
    max-height: 100%;
  }

nav ul{
    justify-content: right;
  }
nav li{
    display: inline-block;
    margin-left: 25%;
  }

  .hide-mobile {
    display: block;
  }

  h1 {
    font-size: 45px;
    font-family: 'Mada', sans-serif;
    text-align: left;
    margin-bottom: 13px;
  }

  h2 {
    font-size: 33px;
    font-family: 'Mada', sans-serif;
    text-align: left;
  }

  p {
    font-size: 18px;
    font-family: 'Lora', serif;
    line-height: 26px;
    text-align: left;
  }


  /* redoing the "about me" styling */

  .my-bio{
  max-width: 74%;
  height: auto;
  flex: 40%;
  margin-left: auto;
  margin-right: auto;
  }

  .my-bio img{
    width: 100%;
    height: auto;
  }

/*"first-col" is specifically for the hero image */

.first-col{
    flex: 5px;
    max-width: 80%;
    padding: 0 60px;
  }

.first-col img {
  width: 100%;
  height: auto;
}

  .about .col1 {
    flex: 5px;
    }
  .col1 {
    max-width: 74%;
  }

  .about .col2 {
    flex: 50%;
    padding: 0 1px;
    text-align: left;
  }

.about-icon-size{
  width: 50px;
}
.aboutme-size{
  width: 120px;
}
.work .col1 {
    flex: 40%;
    padding: 0 60px;
  }
  .work .col1 img{
    width: 100%;
    height: auto;
  }
  .work .col2 {
    flex: 60%;
    padding: 0 60px;
    padding-top: 6%;
    margin:auto;
  }

  .project-title{
    text-align: center;
  }

  .margin-change{
  text-align: center;
  }

  .proto-button1{
    background-color: rgba(65, 137, 59, 0.85);
    border-radius: 3px;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 22px;
    font-weight: 100;

  }

  .proto-button2{
    background-color: rgba(0, 178, 255, 0.85);
    border-radius: 3px;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 22px;
    font-weight: 100;
      }


footer{
  border-top: 2px solid gray;
  margin-top: 7%;
}

.footer-text{
  text-align: center;
  margin-right: 0%;
  margin-left: 0%;
}
.large-footer{
  text-align: center;
}

.contact-me{
  background-color: rgb(66, 175, 222);
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  font-family: 'Mada', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 8px;
  padding-bottom: 8px;
  }

  .bottom{
    margin-left: 13%;
    margin-right: 13%;
  }

  .symbols{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.linkedin-size-footer{
  height: 50px;
  width: auto;
}

.instagram-size-footer{
  height: 50px;
  width: auto;
}

.email-size-footer{
  height: 50px;
  width: auto;
}

/* The following lines are specifically for about.html*/
.align{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.weight{
  font-weight: normal;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}
.top-headline{
  margin-bottom: 1%;
}

.second-headline{
  text-align: center;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
}

.headline{
  margin-right: auto;
  margin-left: auto;
}

.column {
  flex-direction: column;
}

/* This is where I made a div to contain each of the three sections, in order to space properly*/

.music-and-design{
  margin-top: 15%;
}
}

@media only screen and (min-width: 1280px) {
  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 1%;
    align-items: center;
  }
  .logo{
    display: flex;
    padding: 0 60px;
    }
    .logo img {
    height: 130px;
      width: auto;
    }

  .about .col1 img {
    display: flex;
    margin-top: 45px;
    max-height: 67%;
    margin-right: 11%;
  }

nav ul{
    justify-content: right;
  }
nav li{
    display: inline-block;
    margin-left: 25%;
    font-size: 20px;
  }

  .hide-mobile {
    display: block;
  }
  section {
    flex-direction: row;
  }

  h1 {
    font-size: 45px;
    font-family: 'Mada', sans-serif;
    text-align: left;
    margin-bottom: 13px;
  }

  h2 {
    font-size: 33px;
    font-family: 'Mada', sans-serif;
    text-align: left;
  }

  p {
    font-size: 22px;
    font-family: 'Lora', serif;
    line-height: 32px;
    text-align: left;
  }

/* The .green and .blue tags is  specifically to increase the bottom padding in the 1280px version*/
  .green {
    padding-bottom: 28px;
    padding-top: 13px;
    margin-top: 6%;
  }

  .blue{
    padding-top: 0%;
    padding-bottom: 2%;
    margin-top: 6%;
  }

/*"first-col" is specifically for the hero image*/
.first-col {
  max-width: 60%;
  padding: 0px;
  margin-right: 4%;
  margin-left: 5%;
  width: 90%;
  height: auto;
  flex: 50%;

}

.first-col img {
  width: 100%;
  height: auto;
}

  .about {
    width: 100%;
    margin-bottom: 1%;
  }
  .about .col1 {
    padding-top: 1%;
    }
  .col1 {
    max-width: 60%;
    padding: 0px;
  }
/*The above is inherting the padding from the smaller width size. Figure out a way to work around it. it shouldn't be doing that becuase I have a display: none for the image at smaller scales*/
  .about .col2 {
    padding: 0 1px;
    text-align: left;
    margin-top: 6%;
    margin-right: 4%;
  }

  /*This top-margin-change fixes the issue where the margin above the h2 in the about section was too big */
  .top-margin-change{
    margin-top: 1%;
  }

  .work .col1 {
    flex: 40%;
    padding: 0 60px;
    margin-left: 4%;
    margin-right: 5%;
  }
  .work .col1 img{
    width: 100%;
    height: auto;
  }
  .work .col2 {
    flex: 60%;
    padding: 0 60px;
    padding-top: 5%;
    margin-right: 9%;
  }

.project-title{
  text-align: left;
}

.margin-change{
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
  .proto-button1{
    background-color: rgba(65, 137, 59, 0.85);
    border-radius: 3px;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 22px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 47%;
    margin-left: 0;
  }

  .proto-button2{
    background-color: rgba(0, 178, 255, 0.85);
    border-radius: 3px;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 22px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 47%;
    margin-left: 0;
  }

/* redoing the "about me" styling */

.my-bio{
  flex: 40%;
  padding: 0 60px;
  margin: auto;
  max-width: 60%;
}

.my-bio img{
  width: 100%;
  height: auto;
}

/*footer stuff!*/

footer{
  border-top: 2px solid gray;
  margin-top: 7%;
}

.footer-text{
  text-align: center;
  margin-right: 0%;
  margin-left: 0%;
}
.large-footer{
  text-align: center;
}

.contact-me{
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .bottom{
    margin-left: 17%;
    margin-right: 17%;
  }

  .symbols{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 39%;
  }

.linkedin-size-footer{
  height: 60px;
  width: auto;
}

.instagram-size-footer{
  height: 60px;
  width: auto;
}

.email-size-footer{
  height: 60px;
  width: auto;
}

/* The following lines are specifically for about.html*/
.align{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.weight{
  font-weight: normal;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}
.top-headline{
  margin-bottom: 1%;
}

.second-headline{
  text-align: center;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
}

.headline{
  margin-right: 0;
}

.about-me-page-icons {
  height: 100px;
  width: auto;
}

.column {
  flex-direction: column;
}
.text-length{
  margin-left: -2%;
  margin-right: -2%;
}

/* This is where I made a div to contain each of the three sections, in order to space properly*/

.music-and-design{
  display: block;
  margin-top: 15%;
  margin-left: 7%;
}
}
