.hide-mobile {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
}
.green {
  background-color: rgba(65, 137, 59, 0.45);
}
.blue {
  background-color: rgba(0, 178, 255, 0.36);
}

@media only screen and (min-width: 480px) {
  .logo {
    padding: 0 8px;
}
  .logo img {
    height: 67px;
    width: auto;
  }

header{
  display: flex;
}
  nav{
    margin-left: 10%;
  }
  .nav-links{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: right;
    margin-left: 10%;

    }
  .navigation{
    display: inline-block;
    margin-left: 8%;
    margin-right: 12%;
    padding: 0px 3px;
  }
  .love{
    background-color: rgba(66, 175, 222, 1);
    border-radius: 3px;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 16px;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-left: 5px;
  }
  .line{
    border-bottom: 1px solid rgba(66, 175, 222, 1);
  }

h1 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 13px;
}

h2 {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -8px;
}

p {
  font-size: 15px;
  font-family: 'Lora', serif;
  line-height: 19px;
}

  .product-designer{
    color: rgba(66, 175, 222, 1);
  }
  .fuck{
    display: none;
  }

  .desk {
    padding-top: 3%;
    margin-bottom: -3%;
  }
  .dope {
    margin-top: -5%;
    margin-bottom: -12%;
  }

  .about {
    max-height: 140px;
    max-width: 380px;
    margin-bottom: 50%;
  }
  .about .col1 {
    flex: 50%;
    padding: 0 60px;
  }
  .about .col2 {
    flex: 50%;
    padding: 0 16px;
  }
  .green{
    margin-top: 20%;
    padding-bottom: 8px;
  }

  .blue{
    margin-top: 10%;
    padding-bottom: 8px
  }

  .buttons{
    max-width: 380px;
  }

  .icons {
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;
  }

  .fuckme{
  display: inline-block;
  padding-right: 10px;
  }

  .work .col1 {
    width: 90%;
    height: auto;
    flex: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .work .col2 {
    flex: 10%;
    padding: 0 60px;
    padding-top: 2%;
    text-align: center;
    max-width: 350px;
  }
  .work .col1 img{
    width: 100%;
    height: auto;
  }
}

footer{
  border-top: 2px solid gray;
  margin-top: 7%;
}

.large-footer{
  text-align: center;
  margin-top:;
}

.footer-text{
  text-align: center;
}

.contact-me{
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  }

.bottom {
margin-left: 20%;
margin-right: 20%;
justify-content: center;
}

.symbols{
  display: flex;
  justify-content: space-around;
  }

.footer-images{
  display: inline-block;

}

.linkedin-size-footer{
  height: 50px;
  width: auto;
}

.instagram-size-footer{
  height: 50px;
  width: auto;
}

.email-size-footer{
  height: 50px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    padding: 0 60px;
    }
  .fuck {
    display: flex;
    margin-top: 45px;
    max-height: 100%;
    max-width: auto;
  }
  nav{
      padding-right: 13%;
  }
nav ul{
    justify-content: right;
    display:;
  }
nav li{
    display: inline-block;
    margin-left: 25%;
  }

  .hide-mobile {
    display: block;
  }
  section {
    flex-direction: row;
  }

  p {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  .about .col1 {
    flex: 5px;
    margin-left: x;
    }
  .col1 {
    max-width: 74%;
    margin-right: px;
  }

  .about .col2 {
    flex: 50%;
    padding: 0 1px;
    text-align: left;
  }
  .work .col1 {
    flex: 40%;
    padding: 0 60px;
  }
  .work .col1 img{
    width: 100%;
    height: auto;
  }
  .work .col2 {
    flex: 60%;
    padding: 0 60px;
    padding-top: 6%;
  }
}

footer{
  border-top: 2px solid gray;
  margin-top: 7%;
}

.footer-text{
  text-align: center;
}
.large-footer{
  text-align: center;
  margin-top:;
}

.contact-me{
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .bottom{
    margin-left: 13%;
    text-align: center;
  }

  .symbols{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-images{

  }

.linkedin-size-footer{
  height: 50px;
  width: auto;
}

.instagram-size-footer{
  height: 50px;
  width: auto;
}

.email-size-footer{
  height: 50px;
  width: auto;
}
}

@media only screen and (min-width: 1280px) {
  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    display: flex;
    padding: 0 60px;
    }
  .fuck img {
    margin-top: 45px;
    height: 400px;
    width: auto;
  }
  nav{
      padding-right: 13%;
  }

nav ul{
    justify-content: right;
    display:;
  }
nav li{
    display: inline-block;
    margin-left: 25%;
  }

  .hide-mobile {

  }

  section {
    flex-direction: row;
  }

  h1 {

  }

  h2 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  .about .col1 {
    flex: 50%;
    }

  .about .col2 {
    flex: 50%;
    padding: 0 1px;
    text-align: left;
    max-width: 60%;
  }
  .work .col1 {
    flex: 40%;
    padding: 0 60px;
  }
  .work .col1 img{
    width: 100%;
    height: auto;
  }
  .work .col2 {
    flex: 60%;
    padding: 0 60px;
    padding-top: 6%;
  }
}

footer{
  border-top: 2px solid gray;
  margin-top: 7%;
}

.footer-text{
  text-align: center;
}
.large-footer{
  text-align: center;
  margin-top:;
}

.contact-me{
  background-color: rgba(66, 175, 222, 1);
  border-radius: 3px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  .bottom{
    margin-left: 13%;
    text-align: center;
  }

  .symbols{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-images{

  }

.linkedin-size-footer{
  height: 50px;
  width: auto;
}

.instagram-size-footer{
  height: 50px;
  width: auto;
}

.email-size-footer{
  height: 50px;
  width: auto;
}
}

@media only screen and (min-width: 1440px){
  body {
    background: red;
  }
} 
